/* Estilos da página index.html */
 .center{
     text-align: center;
 }
.container {
    display: flex;
    flex-flow: row ;
    justify-content: center;
}

.mapa {
    display: flex;
    flex-direction: column ;
    align-items: center}


 /* Estilos da página contato.html */